<h1>Checkout</h1>
<hr/>
<div id="dropin-container"></div>

<script type="text/javascript">
  // checkout.js waits until the DOM is loaded to initialise the checkout system,
  // by which time this client key will be defined.
  const CLIENT_KEY = '{{CLIENT_KEY}}';
</script>
